
.divTable {
	display: table;
	width: auto;
	background-color: #929292;
	border: 1px solid #666666;
	border-spacing: 5px; 
	margin: 0 auto;
	width: auto;
	font-size: 15px;
}
.headRow {
	display: table-row;
	width: auto;
	clear: both;
}
.divRow {
	display: table-row;
	width: auto;
	clear: both;
}
.divCell {
	float: left;
	display: table-column;
	width: 130px;
	background-color: #eaeaea;
}
.headCell {
	float: left;
	display: table-column;
	width: 130px;
	background-color: #ff2600;
}

.leftBlock {
	float: left;
	text-align: left;
	text-align: rigjt;
}

.fixed {
   position: fixed;
   top: 30px;
   left: 60px;
   width: 300px;
   border: 2px solid blue;
   text-align: left;
}




